@import '../../../assets/sass/lbd/variables';

.reports-table-header {
	&.header {
		background-color: $wedge-primary-color;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 16px;
		margin-top: 16px;
		border-radius: 2px;
		div {
			color: white;
			text-transform: uppercase;
			font-size: 12px;
		}
	}
}
