@import '../../assets/sass/lbd/variables.scss';

.panel-success-container {
	margin: 0;
	padding: 10px;
	background-color: $success-green-background;
	color: $success-green-text;
	border-radius: 10px;
	border: 1px solid $success-green-text;
	display: flex;
	justify-content: space-between;
}

// .success-container {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   margin-top: 0;
//   margin-bottom: 0;
//   padding-top: 0;
//   padding-bottom: 0;
// }

.icon {
	width: 25px;
	height: 25px;
}
