.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.ecosystem-item {
	background-color: white;
	border: 1px #dcdfd2 solid;
	border-radius: 4px;
	flex: 1;
	margin: 16px;
	min-width: 280px;
	max-width: 360px;
	cursor: pointer;
	box-shadow: 0px 5px 10px -2px rgba(136, 136, 136, 0.1);

	&.disabled {
		opacity: 0.6;
		cursor: default;
		&:hover {
			border: 1px #dcdfd2 solid;
			box-shadow: 0px 5px 10px -2px rgba(136, 136, 136, 0.1);
		}
	}

	&:hover {
		border: 1px #99dfc7 solid;
		box-shadow: 0px 5px 10px -2px rgba(136, 136, 136, 0.3);
	}

	.item-header {
		background-color: #4d88c4;
		padding: 16px;
		@extend .flex-row;
		justify-content: flex-start;
		align-content: flex-start;
		&__caption {
		}
		&__name {
			font-size: 20px;
			color: white;
			font-weight: bold;
			margin: 0;
		}
		&__subtitle {
			font-size: 16px;
			font-weight: normal;
			color: white;
			opacity: 0.75;
			margin: 0;
		}
	}
	.item-content {
		padding: 16px;
		.title {
			font-size: 16px;
			font-weight: normal;
			color: #748d97;
		}
		.charts-container {
			@extend .flex-row;
			margin-top: 16px;
			align-items: center;
			.divider {
				height: 60px;
				width: 1px;
				background-color: #e9e9e9;
			}
			.utilization,
			.threat,
			.down {
				flex: 1;
				@extend .flex-column;
				align-items: center;
				p {
					font-size: 12px;
					font-weight: lighter;
				}
				.abs-container {
					position: relative;
					.value-container {
						position: absolute;
						top: 0;
						width: 64px;
						height: 48px;
						display: flex;
						justify-content: center;
						align-content: center;
						align-items: center;
						&.circle {
							width: 48px;
						}
						p.value {
							font-size: 16px;
							font-weight: bold;
							line-height: 1;
							margin-block-start: 0;
							margin-block-end: 0;
						}
					}
				}
			}
			.chart {
				width: 64px;
				height: 48px;
				margin-bottom: 4px;

				&.circle {
					width: 48px;
				}
			}
		}
		.nsp__counter {
			flex: 1;
			display: flex;
			align-content: center;
			justify-content: center;
			p {
				font-size: 24px;
				font-weight: bold;
				color: #748d97;
			}
		}
		.nsp__container {
			@extend .flex-row;
			justify-content: flex-start;
			align-content: center;
			.empty {
				flex: 1;
			}
		}
		.nsp {
			@extend .flex-column;
			flex: 1;
			align-items: center;
			&__image {
				height: 32px;
				//width: 32px;
				max-width: 60px;
				margin-bottom: 8px;
			}
			&__name {
				font-size: 12px;
				font-weight: lighter;
			}
		}
		.owner-container {
			display: flex;
			justify-content: center;
		}
		.owner {
			margin-top: 16px;
			margin-bottom: 16px;
			border: 1px #e9e9e9 solid;
			border-radius: 16px;
			@extend .flex-row;
			.divider {
				height: 32px;
				width: 1px;
				background-color: #e9e9e9;
			}
			&__name {
				color: #92a6ad;
				margin: 4px 16px;
				font-size: 14px;
				min-width: 100px;
			}
			&__icon {
				margin: 4px 16px;
				height: 24px;
				width: 24px;
			}
		}
	}
}
