@import '../../assets/sass/lbd/variables';
@import '../../assets/sass/common.scss';

.wedge-modal {
	&__header {
		background-color: $wedge-primary-color;
		padding: 16px 32px;
		color: white;
	}

	&__content {
		background-color: #f7f7f7;
	}

	.header {
		@extend .flex-row;
		align-items: center;
		justify-content: space-between;
		&__title {
			font-size: 16px;
			font-weight: normal;
		}

		&__close {
			font-size: 32px;
			font-weight: normal;
			cursor: pointer;
		}
	}
}
