@import '../../assets/sass/lbd/variables.scss';
@import '../../assets/sass/common.scss';

.sidebar.wedge {
	.logo {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		background-color: #f9f9f9;
		height: 110px;

		.full-width {
			flex: 1;
		}

		.divider {
			height: 50px;
			width: 1px;
			background-color: #d0d4d6;
		}
	}
	.sidebar-divider {
		height: 1px;
		margin: 0 32px;
		background-color: #e2eaed;
	}
	.ecosystem--name {
		padding: 32px 32px 24px 32px;
		font-size: 18px;
		color: white;
	}
	.sidebar-badge {
		position: relative;
		margin-left: 20px;
		width: 23px;
		height: 16px;
		display: flex;
		align-items: center;
		justify-content: center;

		&--container {
			width: 23px;
			height: 16px;
			position: absolute;
		}
		&--value {
			font-size: 12px;
			color: white;
			z-index: 101;
			font-weight: bold;
		}
	}
	.sidebar-item {
		padding: 32px;
		display: flex;
		flex-direction: row;
	}
	.nav-link {
		display: flex;
		align-items: center;
		&.root {
			cursor: pointer;
		}
		&.with-arrow {
			justify-content: space-between;
		}
		.left-container {
			display: flex;
			align-items: center;
		}
		&.ecosystem {
			display: flex;
			flex-direction: row;
			align-items: center;
			border-radius: 0;
			padding: 32px;

			p {
				font-size: 20px;
				color: $wedge-brown;
				&.ecosystem--text {
					margin-left: 12px;
				}
			}
		}
		.back-arrow {
			width: 20px;
			height: 15px;
		}
		.small-image {
			&.add {
				margin-left: 8px;
			}
			&.down {
				margin: 0 0 0 8px;
				width: 9px;
				height: 5px;
			}
			&.translations {
				width: 15px;
				height: 21px;
			}
			&.users {
				width: 23px;
				height: 18px;
			}
		}
	}

	.notifications {
		flex-direction: column;

		&--title-container {
			width: 100%;
			justify-content: space-between;
		}
		&--title {
			font-size: 16px;
			font-weight: 800;
		}
		&--chevron {
			width: 11px;
			height: 6px;
		}
		&--fullsize {
			width: 13px;
			height: 12px;
		}
		&--item {
			@extend .centered-row;
			flex: 1;
			margin-top: 24px;
			margin-bottom: 24px;
		}
		&--content {
			font-size: 14px;
			color: white;
			margin-left: 12px;
		}
		&--arrow {
			width: 8px;
			height: 8px;
		}
	}
	.status-info {
		justify-content: space-between;
		.equal {
			flex: 1;
		}
		.right {
			align-items: flex-end;
		}
		.divider {
			width: 1px;
			height: 38px;
			background-color: #e2eaed;
		}
		&--good-value {
			font-size: 24px;
			font-weight: 900;
			color: #29cc97;
		}
		&--bad-value {
			font-size: 24px;
			font-weight: 900;
			color: #fa6884;
		}
		&--title {
			font-size: 14px;
			color: #f5f6f7;
		}
	}
	.threat-index {
		justify-content: space-between;
		&--value {
			color: $wedge-text-green;
			font-size: 28px;
			font-weight: 900;
		}
		&--image {
			width: 14px;
			height: 14px;
			margin-left: 10px;
		}
		&--title {
			font-size: 14px;
			color: #f5f6f7;
		}
		&--chart {
			width: 68px;
			height: 53px;
		}
	}
}
