.ecosystems {
	display: flex;
	margin: 32px;
	flex-direction: row;
	align-content: space-between;
	flex-wrap: wrap;
	justify-content: center;
}

.error-container {
	margin-top: 16px;
	display: flex;
	justify-content: center;
}

.refresh-button {
	position: fixed;
	bottom: 8px;
	right: 8px;
}
